.container {
  background-color: #ccc;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  padding: 30px;
}

.title {
  text-align: center;
}

.gracias {
  margin-top: 15px;
  font-size: 1.4rem;
}
